.team-roster-section {
  margin: 0 1rem;
}

.team-roster-header-styles {
  text-align: center;
}

.team-roster-header {
  color: #ededf1;
  font-size: 1.7rem;
  font-weight: 500;
}

.team-roster-subheader {
  font-size: 0.82rem;
  color: #8d8d95;
  margin-bottom: 2px;
}

.team-roster-tile-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.team-roster-tile {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 22px;
  background: linear-gradient(rgba(255, 255, 255, 0.122));
  backdrop-filter: blur(12px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  text-decoration: none;
  color: #ff3c00;
}

.avatar {
  flex-shrink: 0;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.07);
  border: 1px solid rgba(255, 255, 255, 0.12);
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.roster-player-info {
  display: flex;
  flex-direction: column;
}

.avatar-name {
  font-size: 1.2rem;
  font-weight: 600;
  color: #ededf1;
}

.avatar-position-age {
  color: #b9b9b9;
}

.avatar-salary {
  color: #e0c49b;
}

.avatar-grade-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.avatar-grade {
  width: 38px;
  height: 38px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.12);
}

.full-roster-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
  padding: 0.75rem;
  width: calc(100% - 2rem);
  font-size: 1.25rem;
  color: #e0c49b;
  background: linear-gradient(
    90deg,
    rgba(52, 60, 69, 0.35) 0%,
    rgba(35, 27, 56, 0.35) 50%,
    rgba(25, 10, 56, 0.35) 100%
  );
  backdrop-filter: blur(10px);
  border: 1px solid rgba(127, 127, 127, 0.3);
  border-radius: 22px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  text-decoration: none;
}
