.player-contract-section {
  grid-template-columns: repeat(2, 1fr);
}

.player-contract-tile {
  padding: 0.25rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(255, 255, 255, 0.122));
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  gap: 0.25rem;
  color: #ededf1;
  font-size: 18px;
  font-weight: 700;
}

.deal-type-tile {
  grid-column: span 2;
}
