.back-btn-container {
  height: 2.2rem;
  width: 2.2rem;
  position: fixed;
  top: 16px;
  margin-left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #efdeb2;
  background: linear-gradient(
    90deg,
    rgba(52, 60, 69, 0.35) 0%,
    rgba(35, 27, 56, 0.35) 50%,
    rgba(25, 10, 56, 0.35) 100%
  );
  backdrop-filter: blur(10px);
  border: 1px solid rgba(127, 127, 127, 0.3);
  border-radius: 50%;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  z-index: 100;
  text-decoration: none;
}

.previous-screen-btn {
  font-size: 14px;
}
